.Head{
    background-color: #7099AB;
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    font-family: UniversUltraCon,Arial,sans-serif;
}

.logo{
    display: flex;
}
.logo img{
    width: 125px;
}
.Title{
    line-height: 0px;
    font-size: 34px;
    padding-left: 20px;
    padding-top: 25px;
}
.second_Title{
    font-size: 40px;
}

body{
    margin: 0;
}
.HR{
    height: 7px;
    width: 100%;
    background-color: #7099AB;
    padding-left: 100px;
    margin-left: -50px;
}


.formulaire-div{
    background-color: #E8F1F4;
    padding: 10px 50px;
}


.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9F1F4;
    padding-bottom: 30px;

}

.word-page {
    max-width: 850px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    padding-bottom: 100px;
}






.col-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.button-médiateur:hover{
    background-color: #ffffff;
    color: #d11313;
    cursor: pointer;
}

.link {
    color: #7099AB;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
body{
    background-color: #E9F1F4;
    color: #2d2d2d;
    font-family: -apple-system,Arial,sans-serif;
}
.mediator-image{
    width: 148px;
    height: 200px;
}
li{
    list-style: none
}
li::before {content: "•"; color: #7099AB; font-size: 22px; margin-right: 10px}

footer {
    background-color: #7099AB;
}


@media only screen and (min-width: 1000px){
    body{
        font-size: 1rem;
    }
    .paragraph {
        color: #333333;
        margin-top: 10px;
        font-size: 17px;
    }

    .section-title {
        font-size: 32px;
        color: #7099AB;
    }

    .section-subtitle {
        font-size: 26px;
        color: #7099AB;
        margin-top: 20px;
    }
    .button-médiateur{
        background-color: #d11313;
        border: solid 1px #d11313;
        color: white;
        padding: 0.8rem 2.8rem;
        font-size: 1.3rem;
        transition: all 0.4s ease;
        box-shadow: none;
    }
    .mediator-info {
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    }

    .mediator-info-text {
        display: flex;
        margin-left: 30px;
    }

    .mediator-text {
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
        color: white;
    }

    .footer-wrapper a {
        text-decoration: none;
        color: white;
    }

    .footer-wrapper span {
        margin: 0 5px;
    }

}


@media screen and (max-width: 999px){
    .section-title {
        font-size: 56px;
        color: #7099AB;
    }

    .section-subtitle {
        font-size: 44px;
        color: #7099AB;
        margin-top: 20px;
    }
    body{
        font-size: 2rem;
    }
    .paragraph{
        font-size: 2rem;
    }
    .mediator-info-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0px;
    }
    .mediator-image{
        margin: 10px 0px;
        width: 248px;
        height: 350px;
    }
    .mediator-text{
        margin-left: 0px;
    }
    .button-médiateur{
        background-color: #d11313;
        border: solid 1px #d11313;
        color: white;
        padding: 0.8rem 2.8rem;
        font-size: 3.0rem;
        transition: all 0.4s ease;
        box-shadow: none;
    }
    .footer-wrapper {
        font-size: 1.5rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
    }

    .footer-wrapper a {
        display: block;
        text-decoration: none;
        margin-bottom: 10px;
        color: white;
    }

    .footer-wrapper span {
        display: none;
    }


}


