
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #7099AB;
    color: white;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar img {
    padding-top: 5vh;
    padding-bottom: 3vh;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #d11313;
}

.sidebar-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
    padding-bottom: 30vh;
    background-color: #7099AB;
}

.sidebar-part h2 {
    margin-bottom: 10px;
}

.sidebar-part ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-part ul li {
    margin-bottom: 20px;
}

.sidebar-part ul li a {
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
}

/* Content */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-left: 300px;
    margin-right: 50px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td.content {
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #d11313;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.content {
    margin-left: 250px;
    padding: 20px;
}
